

#team {
    padding-top: 60px;
}

.featurette-heading {

	font-family: 'Playfair Display', serif;
	padding-top: 25px;
	font-size: 32px;
	line-height: 1.4em;
}

li {

	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	padding-top: 5px;

}

p.lead {

	font-family: 'Josefin Sans', sans-serif;
	font-weight: 100;
	padding-top: 20px;
	font-size: 18px;
}


span.text-muted {

	font-family: 'Playfair Display';
	text-decoration: italic;

}

footer {
	position: absolute;
	width: 100%;
	margin: auto;
	color: lightgrey;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 100;

}


h1.hero-header {
	font-family: 'Playfair Display', serif;
	font-size: 100px;
	padding-top: 200px;
	text-align: center;
	color: #2F4F4F;
	vertical-align: center;
	font-weight: 500;

}

h2.hero-subheader {
	font-family: 'Josefin Sans', sans-serif;
	padding-top: 25px;
	padding-left: 200px;
	padding-right: 200px;
	line-height: 1.5em;
	text-align: center;
	font-size: 28px;
	color: #2F4F4F;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  height: 5%;
}

h1 {

	font-family: 'Playfair Display', serif;
	font-size: 50px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	font-weight: 500;
}

.hero {
	background-image: url(../images/naxos.jpg);
	width: 1440px;
	height: 700px;
	background-repeat: no-repeat;
}

button.featurette {

	font-family: 'Josefin Sans', sans-serif;
	border: 2px solid #14AD96;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 8px;
	border-radius: 25px;
	color: #14AD96;
	font-size: 16px;
	text-align: center;
	background-color: white;

}

a, a:link, a:visited {
	color: #14AD96;
}

button:hover {

	background-color: #14AD96;
}

a:hover {
	color: white;
	text-decoration: none;
	padding: 10px;
}


a.navbar-brand {
	font-family: 'Playfair Display', serif;
	font-size: 22px;
	font-weight: 500;
	color: #14AD96;
}

